@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<form asp-controller="Home" asp-action="Search" method="post">
    <table>
        <tr>
            <td>Search by Name:</td>
            <td>Third Level Institution:</td>
            <td>Level:</td>
        </tr>
        <tr>
            <td>
                <div class="container">
                    <!--Passing in the values needed for search query-->
                    <input name="searchString" type="search" />
                    <input type="hidden" name="importSubjects" value="Viewbag.courses" />
                    <input type="hidden" name="action" value="search" />
                </div>
            </td>
            <td>
                <div class="container">
                    <!--https://stackoverflow.com/questions/7231157/how-to-submit-form-on-change-of-dropdown-list -->
                    <select class="dropdown-header" id="tlidrop" name="college">

                        <option value="none" selected disabled hidden>
                            Select an Option
                        </option>
                        <!--Looping through all colleges and adding them to a drop down list-->
                        @foreach (var college in ViewBag.colleges)
                        {
                            <option class="dropdown-item" name="college" value="@college">@college</option>
                        }
                    </select>
                </div>
            </td>
            <td>
                <div class="container">
                    <select class=" dropdown-header" id="lvldrop" name="level">
                        <option value="none" selected disabled hidden>
                            Select an Option
                        </option>
                        <!--Populating the dropdown list-->
                        <option class="dropdown-item" name="level" value="6">6</option>
                        <option class="dropdown-item" name="level" value="7">7</option>
                        <option class="dropdown-item" name="level" value="8">8</option>
                    </select>
                </div>
            </td>
            <td>
                <input type="submit" name="submit" />
            </td>
        </tr>
    </table>

</form>

<div class="container">
    <br />
</div>

<div class="container">
    <table class="table">
        <tr>
            <td><b>Course ID</b></td>
            <td><b>Course Name</b></td>
            <td><b>Level</b></td>
            <td><b>Third Level Institute</b></td>
        </tr>
        @foreach (var item in ViewBag.courses)
        {
            <tr>
                <td><a asp-action="ViewIndividualCourse" asp-controller="Home" asp-route-CourseID="@item.CourseID">@item.CourseID</a></td>
                <td>@item.CourseName</td>
                <td>@item.Level</td>
                <td>@item.ThirdLevelInstitute</td>
            </tr>
        }
    </table>

</div>