@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Recommended Course";
}


<body>
    <div class="container-fluid">
        <h3>Congratulations!!</h3>
        <p>Your recommended course:</p>

        <div class="card bg-light">
            <div class="card-item">
                <div class="card-body">
                    <h5>@ViewBag.PerfCourse.CourseID</h5>
                    <p><b>Name: </b>@ViewBag.PerfCourse.CourseName</p>
                    <p><b>Description: </b>@ViewBag.PerfCourse.CourseDescription</p>
                    <p><b>Level: </b>@ViewBag.PerfCourse.Level</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container bg-light">
        <h4>Similar Courses</h4>
        <div class="row">
            @foreach (var course in ViewBag.best)
            {
                <div class="card">
                    <div class="col-md">
                        <a asp-action="ViewIndividualCourse" asp-controller="Home" asp-route-CourseID="@course.CourseID">@course.CourseName</a>
                        <p>@course.ThirdLevelInstitute</p>
                    </div>
                </div>
            }
        </div>
    </div>

</body>

